body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    font-family: Arial, sans-serif;
}


button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#buttons {
    margin-bottom: 20px;
}


.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: -20px; 
}

.button-group button {
    margin-right: 10px;
    background-color: #dbd8d8;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #9b9898;
}
